ul.ul_category  {
	margin: 0;
}

.li_category{
	list-style:none;
	margin-bottom:20px;
	float: left;
    height: 270px;
    overflow: hidden;
    width: 193px;
	margin-right: 20px;
	border: 1px solid #d3d3d3;
	position: relative;
}

.product_in_cat{
	padding:5px;
}

.product_in_cat p.sanphamimg .nn_tooltips-link.isimg {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.product_in_cat .boxing img{
	
}

.descript_cat{
	margin-bottom: 15px;
}

.image_product{	 
}

.image_product img{
	width:100%; 
}

.product_in_cat p.sanphamimg img{
	display: block;
    height: 124px !important;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    vertical-align: middle;
    width: 150px !important;
}

.product_in_cat h3.titleproduct {
	margin: 0;
	line-height: 20px;
	text-align: center;
}

.product_in_cat h3.titleproduct a{
	font-size: 13px;
	color: #595959;
	font-family: tahoma;
	margin: 0;
}

.product_in_cat .addtocart {
	border: 1px solid #bcbcbc;
    border-radius: 3px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90px;
	text-align: center;
} 

.product_in_cat .addtocart a {
	color: #333333;
	line-height: 18px;
}

.imgintro {}

.infor .cateogry{  }

.infor .price{ }

.infor .price span { 
	/*color: #fb5a29;
	font-size: 18px;
	font-weight: bold; */
}

.infor .addtocart{ 
	text-align:left; 
	clear: both;
	margin-bottom: 10px;
}

#ttonline ,
#BankTransfer ,
#Other ,
#paypal ,
#chuyenkhoan {  
    float: left; margin-right: 10px;
}

div.infor p.cateogry .title,
div.infor p.productcode .title,
div.infor p.price .title,
div.infor p.xuatxu .title {
	width: 85px;
	float: left;
}

div.infor p.cateogry .intro,
div.infor p.productcode .intro,
div.infor p.price .intro,
div.infor p.xuatxu .intro {
	padding-left: 50px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}

div.infor p.cateogry,
div.infor p.productcode,
div.infor p.price,
div.infor p.xuatxu  {
	margin-bottom: 10px;
	width: 100%;
}
