.jcarousel-skin-tangoTNT {
	position: relative;
}

.jcarousel-skin-tangoTNT .jcarousel-container {   
}

.jcarousel-skin-tangoTNT .jcarousel-direction-rtl {
	direction: rtl;
}

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-container-horizontal {
    width: 100%;
	padding: 0%;
	text-align: center;
	margin: auto;
	border: none;
}

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-container-horizontal {
    width: 100%;
	padding: 0%;
	text-align: center;
	margin: auto;
	border: none;
}

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-container-horizontal {
    width: 100%;
	padding: 0%;
	text-align: center;
	margin: auto;
	border: none;
}

.jcarousel-skin-tangoTNT .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tangoTNT .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tangoTNT .jcarousel-clip-horizontal {
   /*  width:  245px;
    height: 75px; */width: 100%;
	height: auto;
}

.jcarousel-skin-tangoTNT .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.moduletable_productdigital ul#product2 li.product {
	margin-bottom: 8px;
}

.jcarousel-skin-tangoTNT li.product {
	float: left !important;     
	padding-bottom: 20px !important;
	/*margin-right: 15px !important;
	margin-left: 0px !important;*/
	text-align: center !important;
	/*width: 158px !important;*/
	min-height: 207px !important;
	border: 1px solid #d3d3d3 !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	display: inline !important;
	position: relative;
}

.jcarousel-skin-tangoTNT li.product img {
	display: block;
    max-height: 105px !important;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    vertical-align: middle;
    max-width: 135px !important;
    width: auto !important;
    height: auto !important;
}

.jcarousel-skin-tangoTNT li.product p.addtocart {
	border: 1px solid #bcbcbc;
    border-radius: 3px;
    color: #333333;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90px;
}

.jcarousel-skin-tangoTNT .jcarousel-item-horizontal {
	margin-right: 30px;
	margin-left: 5px;
	position: relative;
}

.jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tangoTNT .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tangoTNT .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-horizontal {
    position: absolute;
    top: -30px;
	z-index: 999;
    right: 10px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(next.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: 35px;
    background-image: url(prev.png);
}*/

 

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:hover,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:focus,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal {
    position: absolute;
    top: -30px;
	z-index:999;
	left: 645px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(prev.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next.png);
}*/
 

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:hover,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:focus,
.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


/* upright */
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-horizontal {
    position: absolute;
    top: -30px;
	z-index: 999;
    right: 10px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(next.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: 35px;
    background-image: url(prev.png);
}*/

 

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:hover,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:focus,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal {
    position: absolute;
    top: -30px;
	z-index:999;
	left: 645px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(prev.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next.png);
}*/
 

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:hover,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:focus,
.moduletable_productupright .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/* digital */
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-horizontal {
    position: absolute;
    top: -30px;
	z-index: 999;
    right: 10px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(next.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: 35px;
    background-image: url(prev.png);
}*/

 

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:hover,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:focus,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal {
    position: absolute;
    top: -30px;
	z-index:999;
	left: 645px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: transparent url(prev.png) no-repeat;
}

/*.moduletable_productgrand .jcarousel-skin-tangoTNT .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next.png);
}*/
 

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:hover,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:focus,
.moduletable_productdigital .jcarousel-skin-tangoTNT .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tangoTNT .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tangoTNT .jcarousel-next-vertical:hover,
.jcarousel-skin-tangoTNT .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tangoTNT .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tangoTNT .jcarousel-next-disabled-vertical,
.jcarousel-skin-tangoTNT .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tangoTNT .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tangoTNT .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tangoTNT .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tangoTNT .jcarousel-prev-vertical:hover,
.jcarousel-skin-tangoTNT .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tangoTNT .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tangoTNT .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tangoTNT .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tangoTNT .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tangoTNT .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
.tieudesanpham {}
.tieudesanpham .title {
	color: #5c5c5c;
font-size: 12px;
font-family: tahoma;
font-weight: normal;
padding-top: 10px;
display: block;
}
.product_in_mod a.boxing {
	display: block;
width: 200px;
height: 152px;
overflow: hidden;
}

.product_in_mod a.boxing { 
	width: 100%;
	height: 150px;
	background: #fff;
}
.imgdoitac { 
	height: 54px;
	width: 114px;
}
.h3lbs { text-align:left;}
.h3lbs a { color: #232323 ; font-family:Myriad Pro; font-size:14px;text-transform:uppercase; font-weight: normal;}
.doitackh {line-height: 132px;
text-align: center;
color: #ad2829;
border-right: 1px solid;
font-family: arial;
font-size: 20px;
text-transform: uppercase;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}