<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" dir="ltr" lang="vi-vn"><head><script src="piano/shares.json" type="text/javascript"></script><script src="piano/widgets.js" type="text/javascript"></script><script src="piano/vi.js" type="text/javascript"></script><script src="piano/300lo.json" type="text/javascript"></script><script src="piano/boost" type="text/javascript"></script>
<meta name="google-site-verification" content="CCt-_80tpDcHEZ_dy5Rb2H0hRoZa_bgxxw9E-XNRe0o">

	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
	  <!-- base href="http://pianoath.com/tuyen-dung.html" -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="đàn piano, dan piano, mua đàn piano, mua dan piano, mua piano, mua piano điện, mua piano dien, đàn piano điện, dan piano dien, piano yamaha, bán piano, bán đàn piano, đàn piano cơ, đàn piano giá rẻ">
  <meta name="author" content="Super User">
  <meta name="description" content="Chuyên cung cấp đàn piano nhập khẩu từ Nhật Bản - Nhà phân phối chính thức Piano Yamaha - Giá thành rẻ nhất chất lượng tốt nhất - Đặt chữ TÂM lên hàng đầu">
  <meta name="generator" content="Joomla! - Open Source Content Management">
  <title>Tuyển dụng </title>
  <link href="piano/tuyen-dung_002.htm" rel="canonical">
  <link href="http://pianoath.com/templates/protostar/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="piano/template.css" type="text/css">
  <link rel="stylesheet" href="piano/multi-col.css" type="text/css">
  <style type="text/css">
</style>
  <script type="text/javascript" src="piano/a" charset="utf-8" async=""></script><script async="" src="piano/cbgapi.loaded_1"></script><script async="" src="piano/cbgapi.loaded_0"></script><script src="piano/all.js" id="facebook-jssdk"></script><script src="piano/analytics.js" async=""></script><script src="piano/jquery_003.js" type="text/javascript"></script>
  <script src="piano/jquery-noconflict.js" type="text/javascript"></script>
  <script src="piano/jquery-migrate.js" type="text/javascript"></script>
  <script src="piano/caption.js" type="text/javascript"></script>
  <script src="piano/bootstrap.js" type="text/javascript"></script>
  <script src="piano/template.js" type="text/javascript"></script>
  <script type="text/javascript">
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
  </script>

	<link rel="stylesheet" href="piano/popup.css" type="text/css">
	<script type="text/javascript" src="piano/scrolltopcontrol.js"></script>

	<script type="text/javascript" src="piano/jquery_002.js"></script>

	<script>jQuery.noConflict();</script>
	<script type="text/javascript" src="piano/loadjs.js"></script>
	
	<link rel="stylesheet" type="text/css" href="piano/highslide.css">
	<script type="text/javascript" src="piano/highslide-full.js"></script>
	<script src="piano/disable-copyright.htm"></script>
	<script type="text/javascript">

	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.fadeInOut = true;
	hs.dimmingOpacity = 0.8;
	hs.outlineType = 'rounded-white';
	hs.captionEval = 'this.thumb.alt';
	hs.marginBottom = 105; // make room for the thumbstrip and the controls
	hs.numberPosition = 'caption';

	// Add the slideshow providing the controlbar and the thumbstrip
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		overlayOptions: {
			className: 'text-controls',
			position: 'bottom center',
			relativeTo: 'viewport',
			offsetY: -60
		},
		thumbstrip: {
			position: 'bottom center',
			mode: 'horizontal',
			relativeTo: 'viewport'
		}
	});
	</script>
	
	<!--[if lt IE 9]>
		<script src="/media/jui/js/html5.js"></script>
	<![endif]-->
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36371820-13', 'auto');
  ga('send', 'pageview');

</script>


	

<body class="site com_content view-article no-layout no-task itemid-194"><div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px none; background: transparent none repeat scroll 0% 0%; overflow: hidden; position: fixed; z-index: 16000002; width: 180px; height: 30px; right: 10px; bottom: 0px;" __jx__id="___$_64 ___$_64" class="zopim"><iframe src="piano/a_003.htm" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; margin: 0px; overflow: hidden; display: block;" frameborder="0"></iframe></div><div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px none; background: transparent none repeat scroll 0% 0%; overflow: hidden; position: fixed; z-index: 16000001; right: 10px; bottom: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; display: none; width: 290px; height: 400px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);" __jx__id="___$_4 ___$_4" class="zopim"><iframe src="piano/a_003.htm" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; margin: 0px; overflow: hidden; display: block;" frameborder="0"></iframe></div>

<div class=" fb_reset" id="fb-root"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe src="http://staticxx.facebook.com/connect/xd_arbiter.php?version=42#channel=f1d287ea1d1b91a&amp;origin=http%3A%2F%2Fpianoath.com" style="border: medium none;" tabindex="-1" title="Facebook Cross Domain Communication Frame" aria-hidden="true" id="fb_xdm_frame_http" scrolling="no" allowfullscreen="true" allowtransparency="true" name="fb_xdm_frame_http" frameborder="0"></iframe><iframe src="piano/xd_arbiter_002.htm" style="border: medium none;" tabindex="-1" title="Facebook Cross Domain Communication Frame" aria-hidden="true" id="fb_xdm_frame_https" scrolling="no" allowfullscreen="true" allowtransparency="true" name="fb_xdm_frame_https" frameborder="0"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<!-- Body -->
	<div class="body">
			<h1 class="h1-title">Mua đàn piano,Đàn piano, Đàn piano điện, Đàn piano Yamaha</h1>
			<!-- Header -->
			<header class="header" role="banner">
				<div class="container">
					<a class="header-l" href="http://pianoath.com/">
						<img src="piano/logo.png">
					</a>
				</div>
			</header>
			
					
			<!-- Main menu -->
						<div id="mainmenu">
				<div class="container">
					<div class="row-fluid">
						<div class="mainmenu span12">
							<nav class="navigation" role="navigation">
								<div class="tvtma-megamnu navbar navbar-default" role="navigation">
        <div class="container">
                <div class="navbar-header">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#tvtma-megamnu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                                        </div>

                <nav class="nav-collapse collapse" id="tvtma-megamnu">
                <ul class="nav navbar-nav nav-pills">
                            <li class="item-101 current active"><a href="/home">Trang chủ</a></li><li class="item-112"><a href="/gioi-thieu">Giới thiệu</a></li><li class="item-113 deeper parent dropdown"><a class="dropdown-toggle" href="/all">Sản phẩm </a><ul class="nav-child unstyled dropdown-menu" style="width: 500px;">
                                                                <li>
                                                                <div class="row-fluid">
                                                                <div class="tvtma-megamnu-content"><ul class="span2 unstyled"><li class="item-197 megacol-header"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li></ul><ul class="span2 unstyled"><li class="item-148 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Upright Piano">Upright Piano</a></li><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="Khác">Piano thương hiệu khác</a></li></ul><ul class="span2 unstyled"><li class="item-149 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a></li><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="/KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul><ul class="span2 unstyled"><li class="item-187 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Yamaha">Piano điện Yamaha</a></li></ul><ul class="span2 unstyled"><li class="item-150 megacol-header"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="Đàn Organ">Đàn Organ</a></li></ul></div></div></li></ul></li><li class="item-114"><a href="/all">LIST HÀNG</a></li><li class="item-115"><a href="/news">tin mới</a></li><li class="item-116"><a href="/learn" target="_blank">Đào tạo</a></li><li class="item-186"><a href="/tu-van">Tư vấn </a></li><li class="item-194"><a href="/tuyen-dung">Tuyển dụng </a></li><li class="item-117"><a href="/contact">Liên hệ</a></li>                </ul>
                </nav>
        </div>
</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slideshow -->
					
			<!-- Content -->
			<div class="maincontent">
				<div class="container">
					<div class="row-fluid">
												
						
							<!-- Begin Sidebar -->
							<div id="sidebar" class="span3 main-left">
								<div class="sidebar-nav">
											<div class="moduletable_social">
					

<div class="custom_social">
	<table>
	<tbody>
		<tr>
			<td>
				<a href="https://www.facebook.com/pianoath?ref=hl"><img alt="" class="cke-resize" src="piano/f.png"></a></td>
			<td>
				<a href="https://plus.google.com/u/0/112139719886058615017/posts/p/pub" target="_blank"><img alt="" src="piano/g.png"></a></td>
			<td>
				<a href="https://www.youtube.com/channel/UCiI5vPSSXgQn6n6T2psARwQ/videos" target="_blank"><img alt="" src="piano/y.png"></a></td>
			<td>
				<a href="#" target="_blank"><img alt="" src="piano/rss.png"></a></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="ckimgrsz" style="left: 2px; top: 2px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Tìm kiếm sản phẩm</h3>
					 
<div class="searchCr_search">

	<form action="tim-kiem.html" method="post" class="form-validate">
	<br>
	<input name="key" id="mod-search-searchword" placeholder="Tên sản phẩm">
	<select name="danhmuc" id="danhmuc">
		<option value="">......Danh mục sản phẩm......</option>
	  	  <option value="Grand Piano">Grand Piano</option>  <option value="Upright Piano">Upright Piano</option>  <option value="Yamaha">-- Yamaha</option>  <option value="KaWai">-- Kawai</option>  <option value="21">-- Piano ngoài dòng</option>  <option value="Đàn Piano Điện">ĐÀN PIANO ĐIỆN</option>  <option value="Yamaha">-- Piano Yamaha</option>   <option value="KaWai">-- Piano Kawai</option>  <option value="Rolland">-- Piano Roland</option>  <option value="Casio">-- Piano Casio</option>  <option value="Techinics">-- Piano Technics</option>  <option value="Colombia">-- Piano Colombia</option>  <option value="Korg">-- Piano Korg</option>  <option value="Piano Giá Rẻ">Piano giá rẻ</option>  <option value="Đàn Organ">Đàn Organ</option>  <option value="Hot">Sản phẩm hot </option>  <option value="Khác">Piano Thương hiệu khác</option>  <option value="Brand New">Piano Brand New</option>	</select>
	
	<!--<select  id="xuatxu" name="xuatxu">
		<option  value="" >......Xuất xứ......</option>
		<option value="1">Nhật Bản</option>
		<option value="2">Hàn Quốc</option>
		<option value="3">Mỹ</option>
		<option value="4">Khác</option>
	</select>-->
	
	

	<input class="timkiemsp" name="gui" value="Tìm kiếm" type="submit">
	
	</form>
</div>



		</div>
			<div class="moduletable_product">
					<h3>Danh mục sản phẩm</h3>
					<ul class="nav menu" id="sanphamid">
<li class="item-197"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li><li class="item-148 deeper parent"><a href="/Upright Piano">Upright Piano</a><ul class="nav-child unstyled small"><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="/Khác">Piano thương hiệu khác</a></li></ul></li><li class="item-149 deeper parent"><a href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a><ul class="nav-child unstyled small"><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul></li><li class="item-187 deeper parent"><a href="/Piano Điện Yamaha">Piano điện Yamaha</a></li><li class="item-150"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="/Đàn Organ">Đàn Organ</a></li></ul>
		</div>
			<div class="moduletable_news">
					<h3>Tin Mới</h3>
					
<div class="latestnews_news">
	<div class="list-news span12">
		<div class="img span3">
			<a title="KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN" href="http://pianoath.com/tu-van/164-kinh-nghiem-mua-dan-piano-dien.html">
				<img title="KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN" class="thub-catitem" src="piano/yamaha-clp230m1.jpg">
			</a>
		</div>
		<div class="title span9">
			<h6>
				<a href="http://pianoath.com/tu-van/164-kinh-nghiem-mua-dan-piano-dien.html" class="name">
					KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN				</a>
			</h6>
			<!--<dd class="create"> 
				23/02/2016			</dd>-->
		</div>
	</div>
	
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>SHOWROOM PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="piano/12565398_883444481775679_5405989472394164360_n.jpg"></p>
<p>
	<img alt="" src="piano/anh_dan2.jpg"><img alt="" src="piano/12524311_883444648442329_1890327645671289191_n.jpg"></p>
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>KHO ĐÀN PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="piano/12.jpg"></p>
<p>
	<img alt="" src="piano/111.jpg"></p>
<p>
	<img alt="" src="piano/mua_dan_piano8.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Liên kết WEB</h3>
					

<div class="custom_search">
	<p>
	<a href="http://www.yamaha.com/" title=""><img alt="" src="piano/yamaha.jpg" style="width: 259px; height: 122px;"></a></p>
<p>
	<a href="http://pianoath.com/vnam.edu.vn" title=""><img alt="" src="piano/partner1.jpg" style="width: 273px; height: 129px;"></a></p>
</div>
		</div>
			<div class="moduletable_social">
					<h3>Chia sẻ</h3>
					<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-top:10px;padding-left:10px;">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=210&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpianoath%3Fref%3Dhl&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false" fb-xfbml-state="rendered" class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/pianoath?ref=hl" data-layout="button" data-action="like" data-show-faces="false" data-share="true"><span style="vertical-align: bottom; width: 114px; height: 20px;"><iframe class="" src="piano/like.htm" style="border: medium none; visibility: visible; width: 114px; height: 20px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f3c55aed778a8c6" frameborder="0" height="1000px" width="1000px"></iframe></span></div>
	<div fb-iframe-plugin-query="app_id=&amp;color_scheme=light&amp;container_width=210&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpianoath%3Fref%3Dhl&amp;locale=vi_VN&amp;sdk=joey" fb-xfbml-state="rendered" class="fb-send fb_iframe_widget" data-href="https://www.facebook.com/pianoath?ref=hl" data-colorscheme="light"><span style="vertical-align: bottom; width: 46px; height: 20px;"><iframe class="" src="piano/send.htm" style="border: medium none; visibility: visible; width: 46px; height: 20px;" title="fb:send Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f3e3ce7f5eedd8" frameborder="0" height="1000px" width="1000px"></iframe></span></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	<!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
	<script gapi_processed="true" src="piano/platform.js" async="" defer="defer">
	  {lang: 'vi'}
	</script>

	<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
	<div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	 <a href="http://link.apps.zing.vn/share?u=http%3A%2F%2Fpianoath.com%2Ftuyen-dung.html&amp;t=Tuy%E1%BB%83n%20d%E1%BB%A5ng&amp;desc=Chuy%C3%AAn%20cung%20c%E1%BA%A5p%20%C4%91%C3%A0n%20piano%20nh%E1%BA%ADp%20kh%E1%BA%A9u%20t%E1%BB%AB%20Nh%E1%BA%ADt%20B%E1%BA%A3n%20-%20Nh%C3%A0%20ph%C3%A2n%20ph%E1%BB%91i%20ch%C3%ADnh%20th%E1%BB%A9c%20Piano%20Yamaha%20-%20Gi%C3%A1%20th%C3%A0nh%20r%E1%BA%BB%20nh%E1%BA%A5t%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng%20t%E1%BB%91t%20nh%E1%BA%A5t%20-%20%C4%90%E1%BA%B7t%20ch%E1%BB%AF%20T%C3%82M%20l%C3%AAn%20h%C3%A0ng%20%C4%91%E1%BA%A7u&amp;images=http%3A%2F%2Fpianoath.com%2Fimages%2Ficons%2Flogo.png%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FDan-Nhat%2Fyamaha-clp230m1.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh%2Fshowroom%2Fshow-room-piano.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh-moi%2FMX100MR.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh-moi%2FU1H.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh%2Fpiano_yamaha_yux_0.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2Fanh-kho-moi%2FIMG_1320.JPG%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FKawai-Kg3C%2F20151116_003.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2Fsanpham%2Fdandien%2Fyamaha%2Fdan_piano_mau_trang1.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FKHOpianoath.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh-moi%2Fyamaha-U3E.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh%2Fshowroom%2F12565398_883444481775679_5405989472394164360_n.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh_cua_hang%2Fanh_dan2.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2FAnh%2Fshowroom%2F12524311_883444648442329_1890327645671289191_n.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2Fbaiviet%2F12.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2Fbaiviet%2F111.jpg%2Chttp%3A%2F%2Fpianoath.com%2Fimages%2Fbaiviet%2Fmua_dan_piano8.jpeg&amp;media=&amp;width=0&amp;height=0" target="_blank" class="" name="zm_share" type="icon" title="Chia sẻ lên Zing Me"><span class="ZMConnectIcon_Text">Chia sẻ</span></a>
	<script src="piano/lwb.js" type="text/javascript"></script>
</div>		</div>
	
								</div>
							</div>
							<!-- End Sidebar -->
												<main id="content" role="main" class="span9">
							<div>
							
							<!-- Begin Content -->
							<div id="system-message-container">
	</div>

							<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="vi-VN">
				<div class="page-header">
		<h2 itemprop="name">
												Tuyển nhân viên 									</h2>
							</div>
				
<div class="icons">
	
		
	</div>
	
	
	
		
								<div itemprop="articleBody">
		<p>
	<span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">Công ty TNHH Dịch vụ &amp; Thương mại ATH tuyển nhân sự&nbsp;</span></p>
<p>
	<br style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">
	<span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">04 Nhân viên lắp đặt vận chuyển đàn&nbsp;</span><br style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">
	<span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">02 Nhân viên kĩ thuật sửa chữa&nbsp;</span><br style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">
	<span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">02 Nhân viên lễ tân, bán hàng&nbsp;</span></p>
<p>
	<br style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">
	<span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">Yêu cầu:&nbsp;</span><br>
	<span class="text_exposed_show" style="display: inline; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">* Vị trí lắp đặt vận chuyển:&nbsp;<br>
	Nam tuổi đời từ 20-25&nbsp;<br>
	Tốt nghiệp PTHH&nbsp;<br>
	Có sức khoẻ&nbsp;<br>
	Giao tiếp tốt&nbsp;<br>
	Nhanh nhẹn, trung thực, nhiệt tình trong công việc&nbsp;<br>
	* Vị trí kĩ thuật&nbsp;<br>
	Nam tuổi từ 20-25&nbsp;<br>
	Có bằng sửa chữa điện tử điện lạnh<br>
	Có sức khoẻ&nbsp;<br>
	Nhanh nhẹn, nhiệt tình<br>
	* Vị trí lễ tân, bán hàng&nbsp;<br>
	Nữ tuổi đời từ 22-25&nbsp;<br>
	Tốt nghiệp các trường Đại học, cao đẳng&nbsp;<br>
	Ngoại hình ưa nhìn, nói giọng chuẩn, giao tiếp tốt<br>
	Ưu tiên có kinh nghiệm<br>
	Nhanh nhẹn, trung thực, nhiệt tình trong công việc.<br>
	Lương cơ bản từ 4tr - 8tr , có ăn ở, phụ cấp hàng tháng!</span></p>
<p>
	&nbsp;</p>
<p>
	<span class="text_exposed_show" style="display: inline; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">Ứng viên có nhu cầu, mời gửi hồ sơ vào email: <span id="cloak36517"><a href="mailto:amnhacATH@gmail.com">amnhacATH@gmail.com</a></span><script type="text/javascript">
 <!--
 document.getElementById('cloak36517').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy36517 = '&#97;mnh&#97;cm&#111;z&#97;rt' + '&#64;';
 addy36517 = addy36517 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 document.getElementById('cloak36517').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy36517 + '\'>' +addy36517+'<\/a>';
 //-->\n </script> hoặc liên hệ bộ phận tuyển dụng 0987591202</span></p>
<p>
	&nbsp;</p>
<p>
	<span class="text_exposed_show" style="display: inline; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.3199996948242px;">Xin cám ơn!</span></p>
<p>
	&nbsp;</p>
<p>
	Công ty TNHH Dịch vụ và Thương mại ATH&nbsp;</p>
<p>
	Trụ sở: Piano ATH E2009 chung cư Mulberrylane Mỗ Lao Hà Đông&nbsp;</p>
<p>
	website: www.pianoath.com&nbsp;</p>
<p>
	Hotline: 0987 589689</p>
	</div>

	
						 </div>

<div style="clear:both;"></div>
<div style="padding:20px 10px 10px 10px;">
<!--<div style="padding-left:20px;"><img src="/images/icons/thich_img.jpg"></div>-->
<!-- AddThis Button BEGIN -->
<div data-title="Tuyển dụng" data-url="http://pianoath.com/tuyen-dung.html" class="addthis_native_toolbox">
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="piano/addthis_widget.js"></script>
<!-- AddThis Button END -->
</div>


							</div>
							<!-- End Content -->
						</main>
												<div><img style="width: 100%" src="piano/thanh-toan.jpg"></div>
					</div>
					
				</div>
			</div>
			
			<!-- Partner -->
						<div id="partner">
				<div class="container">
					<div class="row-fluid">
						<div class="partner span12">
							<script type="text/javascript" src="piano/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="piano/skin.css">
<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};
jQuery(document).ready(function() {
    jQuery('#weblinkkfc').jcarousel({ 
		auto: 5,
		scroll:1,
		wrap: 'circular',
		animation:'1',
		easing:'swing',
		initCallback: mycarousel_initCallback,
    });
});
</script>

<div class="row-fluid">
 
<div class="span12">
<div class=" jcarousel-skin-tangoTNT"><div style="position: relative; display: block;" class="jcarousel-container jcarousel-container-horizontal"><div style="position: relative;" class="jcarousel-clip jcarousel-clip-horizontal"><ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -930px; width: 2115px;" id="weblinkkfc" class="jcarousel-list jcarousel-list-horizontal">
			<li jcarouselindex="1" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
			<a href="http://www.atlasinstruments.com/" rel="follow"><img class="imgdoitac" src="piano/atlas.jpg" title="Altas Intruments"> </a>		</li>
			<li jcarouselindex="2" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal">
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="piano/boston-piano.jpg" title="Boston Piano"> </a>		</li>
			<li jcarouselindex="3" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal">
			<a href="http://www.kawai.co.za/" rel="follow"><img class="imgdoitac" src="piano/kawai.jpg" title="Kawai"> </a>		</li>
			<li jcarouselindex="4" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal">
			<a href="http://www.icolor.vn/" rel="follow"><img class="imgdoitac" src="piano/partner1.jpg" title="Piano"> </a>		</li>
			<li jcarouselindex="5" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal">
			<a href="http://www.steinway.com/" rel="follow"><img class="imgdoitac" src="piano/steinway-sons.jpg" title="Steinway &amp; Sons"> </a>		</li>
			<li jcarouselindex="6" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal">
			<a href="http://www.yamaha-motor.com.vn/" rel="follow"><img class="imgdoitac" src="piano/yamaha.jpg" title="Yamaha"> </a>		</li><li jcarouselindex="56" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-56 jcarousel-item-56-horizontal">
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="piano/boston-piano.jpg" title="Boston Piano"> </a>		</li><li jcarouselindex="57" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-57 jcarousel-item-57-horizontal">
			<a href="http://www.kawai.co.za/" rel="follow"><img class="imgdoitac" src="piano/kawai.jpg" title="Kawai"> </a>		</li><li jcarouselindex="58" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-58 jcarousel-item-58-horizontal">
			<a href="http://www.icolor.vn/" rel="follow"><img class="imgdoitac" src="piano/partner1.jpg" title="Piano"> </a>		</li><li jcarouselindex="59" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-59 jcarousel-item-59-horizontal">
			<a href="http://www.steinway.com/" rel="follow"><img class="imgdoitac" src="piano/steinway-sons.jpg" title="Steinway &amp; Sons"> </a>		</li><li jcarouselindex="60" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-60 jcarousel-item-60-horizontal">
			<a href="http://www.yamaha-motor.com.vn/" rel="follow"><img class="imgdoitac" src="piano/yamaha.jpg" title="Yamaha"> </a>		</li><li jcarouselindex="61" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-61 jcarousel-item-61-horizontal">
			<a href="http://www.atlasinstruments.com/" rel="follow"><img class="imgdoitac" src="piano/atlas.jpg" title="Altas Intruments"> </a>		</li><li jcarouselindex="62" style="float: left; list-style: outside none none;" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-62 jcarousel-item-62-horizontal">
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="piano/boston-piano.jpg" title="Boston Piano"> </a>		</li>
	</ul></div><div style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal"></div><div style="display: block;" class="jcarousel-next jcarousel-next-horizontal"></div></div></div>
</div>

</div> 

						</div>
					</div>
				</div>
			</div>
						
			<div class="main-bottom">
				<div class="container">
					<div class="bottom1 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Dịch vụ cung cấp</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/142-lam-moi-dan-piano.html">
				Làm mới đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/129-len-day-dan-piano.html">
				Lên dây đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/130-van-chuyen-dan-piano.html">
				Vận chuyển đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/132-cho-thue-dan-piano.html">
				Cho thuê đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/133-sua-chua-dan-piano.html">
				Sửa chữa đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/46-dich-vu-cung-cap/134-thu-mua-dan-piano.html">
				Thu mua đàn piano				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
					<div class="bottom2 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Trung tâm Bảo hành - Sửa chữa </h3>
					

<div class="custom">
	<p>
	<img alt="" src="piano/mua-dan-piano-dien.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
	
						</div>
					</div>
					<div class="bottom3 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Thông tin hỗ trợ</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/141-ve-piano-ATH.html">
				Về Piano ATH				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/139-lien-he.html">
				Liên hệ				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/138-huong-dan-mua-hang.html">
				Hướng dẫn mua hàng				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/137-giao-hang-van-chuyen.html">
				Giao hàng - Vận chuyển				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/136-quy-dinh-ve-che-do-bao-hanh.html">
				Quy định về chế độ bảo hành				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/tuyen-dung/48-thong-tin-ho-tro/135-chinh-sach-bao-mat.html">
				Chính sách bảo mật 				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="footer1">
						<h3>CÔNG TY TNHH DỊCH VỤ VÀ THƯƠNG MẠI ATH</h3>
						<div>
							<div>Showroom: Piano ATH E2009 chung cư Mulberrylane Mỗ Lao Hà Đông</div>
							<div>Kho đàn: Piano ATH E2009 chung cư Mulberrylane Mỗ Lao Hà Đông (<a href="/contact">Xem bản đồ</a>)</div>
							<div>Hotline: <b style="font-size:16px;color:#ff0000;">0987 589 689</b></div>
							<div>ĐT: 04 6327 8963 </div>
							<div>Giờ làm việc: 8h - 22h từ thứ 2 đến CN</div>
						</div>
					</div>
					<div class="footer2">
						<div fb-iframe-plugin-query="app_id=&amp;container_width=355&amp;header=false&amp;height=250&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpianoath%3Fref%3Dhl&amp;locale=vi_VN&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;width=355px" fb-xfbml-state="rendered" class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/pianoath?ref=hl" data-width="355px" data-height="250" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"><span style="vertical-align: bottom; width: 355px; height: 214px;"><iframe class="" src="piano/like_box.htm" style="border: medium none; visibility: visible; width: 355px; height: 214px;" title="fb:like_box Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f3d8f2ec94e0c8c" frameborder="0" height="250px" width="355pxpx"></iframe></span></div>
					</div>
				</div>
			</div>
						
	</div><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;"><iframe src="piano/sh.htm" style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px none; left: 0px;" title="AddThis utility frame" id="_atssh342"></iframe></div><style id="service-icons-0"></style>
	
	<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3Mtyz4vLNMxz8nNgWFZdxQe8YdAMrGrk";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->

<!-- Google Code dành cho Thẻ tiếp thị lại -->
<!--------------------------------------------------
Không thể liên kết thẻ tiếp thị lại với thông tin nhận dạng cá nhân hay đặt thẻ tiếp thị lại trên các trang có liên quan đến danh mục nhạy cảm. Xem thêm thông tin và hướng dẫn về cách thiết lập thẻ trên: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 944880638;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="piano/conversion.js">
</script><iframe name="google_conversion_frame" title="Google conversion frame" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/944880638/?random=1463154368469&amp;cv=8&amp;fst=1463154368469&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_his=1&amp;u_tz=420&amp;u_java=true&amp;u_nplug=15&amp;u_nmime=63&amp;frm=0&amp;url=http%3A//pianoath.com/tuyen-dung.html&amp;ref=http%3A//pianoath.com/lien-he.html&amp;tiba=Tuy%E1%BB%83n%20d%E1%BB%A5ng" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" frameborder="0" height="13" width="300"></iframe>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/944880638/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<div style="display: none; width: 0px; height: 0px;" class="igtranslator-main-div"><iframe scrolling="no" class="igtranslator-iframe" src="piano/a_003.htm" frameborder="0"></iframe></div><div title="Click to Show Translation" style="background-image: url(&quot;resource://jid1-dgnibwqga0sibw-at-jetpack/data/icons/home.png&quot;); display: none;" class="igtranslator-activator-icon bounceIn"></div><iframe tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;" src="piano/postmessageRelay.htm" id="oauth2relay830858828" name="oauth2relay830858828"></iframe><div style="padding: 0px; border: medium none; margin: 0px; position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1001; direction: ltr;" class="highslide-container"><a style="position: absolute; top: -9999px; opacity: 0.75; z-index: 1;" href="javascript:;" title="Click to cancel" class="highslide-loading">Loading...</a><div style="display: none;"></div><div style="padding: 0px; border: medium none; margin: 0px; visibility: hidden;" class="highslide-viewport highslide-viewport-size"></div><table style="padding: 0px; border: medium none; margin: 0px; visibility: hidden; position: absolute; border-collapse: collapse; width: 0px;" cellspacing="0"><tbody style="padding: 0px; border: medium none; margin: 0px;"><tr style="padding: 0px; border: medium none; margin: 0px; height: auto;"><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll 0px 0px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll 0px -40px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll -20px 0px; height: 20px; width: 20px;"></td></tr><tr style="padding: 0px; border: medium none; margin: 0px; height: auto;"><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll 0px -80px; height: 20px; width: 20px;"></td><td class="rounded-white highslide-outline" style="padding: 0px; border: medium none; margin: 0px; position: relative;"></td><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll -20px -80px; height: 20px; width: 20px;"></td></tr><tr style="padding: 0px; border: medium none; margin: 0px; height: auto;"><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll 0px -20px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll 0px -60px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: medium none; margin: 0px; line-height: 0; font-size: 0px; background: transparent url(&quot;http://gln.edu.vn/tieng-anh-tre-em/templates/protostar/css/graphics/outlines/rounded-white.png&quot;) repeat scroll -20px -20px; height: 20px; width: 20px;"></td></tr></tbody></table></div><iframe style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;" allowfullscreen="true" allowtransparency="true" scrolling="no" id="rufous-sandbox" frameborder="0"></iframe></body></html>